/**
* nomralize.css
* The styles in this file represent all basic styles for the M&S site.
* It includes a reset, the basic grid and some default components.
*
* @project   Marks & Spencer
* @date      2014-06
* @author    Holger Hellinger, SapientNitro <hhellinger@sapient.com>
* @licensor  Marks & Spencer
* @site      Marks & Spencer
*
*
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%; /* 16px */
    font: inherit;
    vertical-align: baseline;

    // enable CSS3 border-box model for all elements
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    // disable tap highlighting overlay
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

input[type="color"], input[type="date"],
input[type="email"], input[type="number"],
input[type="password"], input[type="search"],
input[type="submit"], input[type="tel"],
input[type="time"], input[type="url"],
input[type="text"], textarea, select {
    font-size: 100%; /* 16px */
    /* enable CSS3 border-box model for forn elements */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* disable tap highlighting overlay */
    -webkit-tap-highlight-color:rgba(0,0,0,0);

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%; /* 16px */
    line-height: 1;
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
}

/**
 * viewport settings
 *
 * [1] viewport bug fix
 *         due to current W8 viewport bug, the width has to be set with either:
 *         width: device-width;            # conform version
 *         width: auto !important;     # W8 viewport bug fix
 *
 * [2] zoom ignored by IE
 *         zoom settings are currently ignored by IE, but should be kept
 *         for future support
 *
 * [3] Temporary Fix for zooming issues for actual WP8 Devices
 */
@-webkit-viewport {
        width: device-width;
        zoom: 1.0;
}
@-moz-viewport{
        width: device-width;
        zoom: 1.0;
}
@-ms-viewport {
        width: device-width; /* [1] */
        width: auto !important;
        zoom: 1.0; /* [2] */
}
@-o-viewport {
        width: device-width;
        zoom: 1.0;
}
@viewport {
        width: device-width;
        zoom: 1.0;
}
